### **CMP7005 - Programming for Data Analysis - Assessment**

# Importing the required libraries

In [ ]:
# Importing the necessary libraries for exploratory data analysis
import pandas as pd
import numpy as np
import os
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt

# Mounting the drive

In [ ]:
# Loading the Drive helper and mount
from google.colab import drive

# This will prompt for authorisation.
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Change the path according to the location of the data
%cd '/content/drive/MyDrive/Prog Data Analysis Assessment'

/content/drive/MyDrive/Prog Data Analysis Assessment

In [ ]:
%ls # Shows all the content of the folder

Ahmedabad_data.csv       Chennai_data.csv     Kochi_data.csv
Aizawl_data.csv          Coimbatore_data.csv  Kolkata_data.csv
all_cities_combined.csv  Delhi_data.csv       Lucknow_data.csv
Amaravati_data.csv       Ernakulam_data.csv   Mumbai_data.csv
Amritsar_data.csv        Gurugram_data.csv    Patna_data.csv
Bengaluru_data.csv       Guwahati_data.csv    Shillong_data.csv
Bhopal_data.csv          Hyderabad_data.csv   Talcher_data.csv
Brajrajnagar_data.csv    Jaipur_data.csv      Thiruvananthapuram_data.csv
Chandigarh_data.csv      Jorapokhar_data.csv  Visakhapatnam_data.csv

# Merging of the csv files:

In [ ]:
drive_path = '/content/drive/MyDrive/Prog Data Analysis Assessment'

In [ ]:
dataframes = []
for filename in os.listdir(drive_path):
    if filename.endswith('.csv'):  # Check if the file is a CSV file
        file_path = os.path.join(drive_path, filename)
        df = pd.read_csv(file_path)  # Read the CSV file into a DataFrame
        dataframes.append(df)  # Add the DataFrame to the list

# Data Preprocessing

In [ ]:
# Using df.head() to display the first five rows of the dataset for an initial overview.
df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Jorapokhar,20/04/2017,NaN,119.49,7.75,9.26,NaN,NaN,0.32,28.43,18.88,NaN,NaN,NaN,NaN,NaN
1,Jorapokhar,21/04/2017,NaN,170.61,8.00,10.20,NaN,NaN,0.27,29.35,15.85,NaN,NaN,NaN,148.0,Moderate
2,Jorapokhar,22/04/2017,NaN,124.64,7.92,9.45,NaN,NaN,0.29,33.34,17.76,NaN,NaN,NaN,135.0,Moderate
3,Jorapokhar,23/04/2017,NaN,107.36,7.74,9.39,NaN,NaN,0.31,34.10,21.71,NaN,NaN,NaN,107.0,Moderate
4,Jorapokhar,24/04/2017,NaN,178.28,7.49,10.72,NaN,NaN,0.33,38.16,17.94,NaN,NaN,NaN,124.0,Moderate

In [ ]:
# Using df.tail() to display the last five rows of the dataset for an initial overview.
df.tail()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
29526,Gurugram,27/06/2020,47.82,158.08,3.12,8.05,7.24,3.33,0.66,9.18,19.54,2.16,4.78,5.27,121.0,Moderate
29527,Gurugram,28/06/2020,64.72,261.05,5.62,9.65,8.97,3.43,0.67,7.82,17.28,2.65,3.59,5.16,153.0,Moderate
29528,Gurugram,29/06/2020,46.89,154.00,4.00,8.97,9.65,3.05,0.57,7.86,36.50,2.34,3.84,4.72,140.0,Moderate
29529,Gurugram,30/06/2020,47.27,114.29,6.29,10.38,12.08,3.20,0.78,7.36,58.07,2.40,4.30,4.89,131.0,Moderate
29530,Gurugram,01/07/2020,61.64,174.08,5.99,10.58,12.37,2.91,1.11,7.57,44.14,2.67,4.46,4.73,157.0,Moderate

In [ ]:
# Used df.info() to get a quick summary of the datasetâ€™s structure.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29531 entries, 0 to 29530
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        29531 non-null  object
 1   Date        29531 non-null  object
 2   PM2.5       24933 non-null  float64
 3   PM10        18391 non-null  float64
 4   NO          25949 non-null  float64
 5   NO2         25946 non-null  float64
 6   NOx         25346 non-null  float64
 7   NH3         19203 non-null  float64
 8   CO          27472 non-null  float64
 9   SO2         25677 non-null  float64
 10  O3          25509 non-null  float64
 11  Benzene     23908 non-null  float64
 12  Toluene     21490 non-null  float64
 13  Xylene      11422 non-null  float64
 14  AQI         24850 non-null  float64
 15  AQI_Bucket  24850 non-null  object
dtypes: float64(13), object(3)
memory usage: 3.6+ MB

In [ ]:
# Used df.columns to view all the column names in the dataset.
df.columns

Index(['City', 'Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3', 'CO', 'SO2',
       'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')

In [ ]:
# Used df.shape to see the dimensions of the dataset.
df.shape

(29531, 16)

In [ ]:
# Counting how many times each city appears in the dataset.
City = df['City'].value_counts()
print(f'Total number of Cities in the dataset : {len(City)}')
City

Total number of Cities in the dataset : 26

City
Delhi                 2009
Lucknow               2009
Ahmedabad             2009
Bengaluru             2009
Chennai               2009
Mumbai                2009
Hyderabad             2006
Patna                 1858
Gurugram              1679
Visakhapatnam         1462
Amritsar              1221
Jorapokhar            1169
Jaipur                1114
Thiruvananthapuram    1112
Amaravati              951
Brajrajnagar           938
Talcher                925
Kolkata                814
Guwahati               502
Coimbatore             386
Shillong               310
Chandigarh             304
Bhopal                 289
Ernakulam              162
Kochi                  162
Aizawl                 113
Name: count, dtype: int64

In [ ]:
# This function calculates the number and percentage of missing values in each column.
def missing_values_table(df):
    # Total missing values
    mis_val = df.isnull().sum()

    # Percentage of missing values
    mis_val_percent = 100 * mis_val / len(df)

    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)

    mis_val_table = mis_val_table.rename(columns={0: 'Missing Values', 1: '% of Total Values'})

    # Sort the table by percentage of missing descending
    mis_val_table = mis_val_table.sort_values('% of Total Values', ascending=False)

    return mis_val_table

missing_values = missing_values_table(df)
display(missing_values.style.background_gradient(cmap='Reds'))

** Need to fill in the missing values **